<div class="container__quizz">
    <div class="logo__quizz">
        <img src="assets/img/logo.png" alt="logo" srcset="">
        <h1>DESENVOLVEDOR WEB</h1>
        <h3>{{ title }}</h3>
    </div>

    <div class="youtube-audio">
        <div id="youtube-player"></div>
    </div>

    <div class="audio-controls">
        <button (click)="playMusic()">Tocar Música</button>
        <button (click)="pauseMusic()">Pausar Música</button>
    </div>

    <div *ngIf="!finished">
        <!-- Exibe a pergunta -->
        <h2>{{ questionSelected?.question }}</h2>

        <!-- Exibe as opções de resposta -->
        <ng-container *ngIf="questionSelected?.options">
            <div *ngFor="let option of shuffle(questionSelected!.options)">
                <button 
                    [ngClass]="{
                        'correct': showCorrect && option.alias === questionSelected?.correct,
                        'incorrect': showCorrect && option.alias !== questionSelected?.correct && option.alias === selectedAnswer
                    }"
                    (click)="playerChoose(option.alias)"
                    [disabled]="showCorrect"
                >
                    {{ option.name }}
                </button>
            </div>     
        </ng-container>

        <!-- Botão para avançar manualmente -->
        <button *ngIf="showCorrect" (click)="nextStep()">Avançar</button>

        <!-- Botão para finalizar o quiz -->
        <button class="finalize-btn" (click)="finishQuiz()">Finalizar</button>
    </div>

    <div *ngIf="finished">
        <!-- Exibe o resultado final -->
        <h2>Quiz Finalizado!</h2>
        <p>Sua pontuação: {{ score }}%</p>
        <p>Respostas corretas: {{ correctAnswers }}</p>
        <p>Respostas erradas: {{ wrongAnswers }}</p>
    </div>
</div>

