/* You can add global styles to this file, and also import other style files */
/* =============================================== */
/* RESET E CONFIGURAÇÕES GLOBAIS */
/* =============================================== */
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: #1f1147;
    color: antiquewhite;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
    margin: 0;
}

html {
    height: 100%;
}